main {
    display: grid;
    height: 100dvh;
    justify-content: center;
    align-items: end;
    grid-area: 1/1;
    z-index: 1;
    /* background:linear-gradient(rgb(66, 64, 64) 20% ,rgb(116, 114, 114), rgb(114, 112, 112),rgb(66, 64, 64)); */
    background-image: url(/imgs/sunset-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}



/***CAMERA-CONTAINER**/
article:nth-of-type(1) {
    position: relative;
    width: 18em;
    aspect-ratio: 10/3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 1em;
    border-radius: 1em;
    padding: 1em;
    box-shadow: inset 5px 5px 10px rgb(77, 76, 76);
    box-shadow: inset -5px -5px -10px rgb(77, 76, 76);
    background: var(--main-bg-color);
    grid-area: 1/1;

}