/**SCREEN FOR CAMERA**/

/**Nav for camera**/
form:has([value="Camera"]:checked) section:nth-of-type(1) {
    background-color:var(--dark);
    display: grid;
    place-content: center;
}

/** Camra effects**/
form:has([value="Camera"]:checked) section:nth-of-type(1)>ul {
    display: flex;
    justify-content: center;
    list-style: none;
    border-radius: 5px;

    & li {
        display: flex;
        justify-content: center;

        & input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-shadow: inset 3px 3px 5px  var(--light-color), inset -3px -3px 3px  var(--light-color);
            width: 2em;
            aspect-ratio: 1;
            border-radius: var(--circle);
            border: 3px solid var(--dark);
            outline: none;
            cursor: pointer;
           
        }

    }

    & li:active {
        /* Add your hover effect styles here */
        border: 3px solid rgb(197, 197, 40);
        border-radius: var(--border-radius)
    }

}



/**Camera button on the screen**/

form:has([value="Camera"]:checked) section:nth-of-type(1)>label {
    display: grid;
    place-content: center;

    & div {
        border-radius: var(--circle);
        border: 3px solid var(--light-color);
        display: grid;

        & input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 2em;
            aspect-ratio: 1;
            outline: none;
            border-radius: var(--circle);
            background-color: var(--light-color);
        }
    }
}

/**Camera effects**/

/**Grey-light**/
body:has([value="grey-light"]:checked) {
    filter: grayscale(50%);

}

body:has([value="grey-light"]:checked)>main>div:nth-of-type(1)>article:nth-of-type(1) {
    filter: none;

}

/**Contrast**/
body:has([value="contrast"]:checked) {
    filter: contrast(150%);

}

body:has([value="contrast"]:checked)>main>div:nth-of-type(1)>article:nth-of-type(1) {
    filter: none;

}

/**Bright**/
body:has([value="bright"]:checked) {
    filter: brightness(1);


}

body:has([value="bright"]:checked)>main>div:nth-of-type(1) {
    filter: none
}

/**Natural**/

body:has([value="natural"]:checked) {
    filter: saturate(200%);
}

body:has([value="natural"]:checked)>main>div:nth-of-type(1) {
    filter: none;
}