:root {

    /**borders**/
    --circle: 50%;
    --border-radius: 5px;

    /*Text styles**/
    --text-shadow: 2px -2px hsl(0, 1%, 17%);
    
    /*Colors**/
    --light-color: rgb(255, 255, 255);
    --main-bg-color: linear-gradient(to right, oklch(70% 0 0), oklch(80% 0 0));
    --dark: rgb(0, 0, 0);
    --darker-grey: oklch(50% 0 0);
    --default-color: rgb(121, 119, 121);
    --curtain-bar-color:hsl(35, 94%, 57%);
    --bg-color-gallery: rgba(133, 133, 133, 0.621);
    --logo-color:rgb(81, 236, 220);
    --start-btn-color: rgb(223, 67, 67);
    --video-btn-color: rgb(223, 67, 67);
    --active-state-camera-effect: yellow;
    --lighter-grey: rgb(184, 182, 182);
    --camera-btn-color: rgb(223, 67, 67);
    --home-screen-color1: hsl(200, 69%, 62%);
    --home-screen-color2: hsl(206, 86%, 59%);
    --home-screen-color3:hsl(224, 71%, 56%);

}