body {
  

}

header {
    display: flex;

}


/*Curtains**/
header>div:nth-of-type(1) {
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;

}

header>div:nth-of-type(1)>div:nth-of-type(1) {
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    border-top: 50px solid rgb(167, 102, 10);
    z-index: 99999;

}

header>div:nth-of-type(1)>div:nth-of-type(2) {
    background: linear-gradient(100deg, rgb(158, 19, 19), black);
    background-size: 10% 100%;
    width: 50%;
    height: 100vh;
    position: absolute;
    transition: width .4s linear;
    animation: curtains-open 6s ease-in-out forwards;


}

header>div:nth-of-type(1)>div:nth-of-type(3) {
    background: linear-gradient(100deg, rgb(158, 19, 19), black);
    background-size: 10% 100%;
    width: 50%;
    height: 100vh;
    float: right;
    margin-left: 300px;
    position: relative;
    transition: width .4s linear;
    animation: curtains-open 6s ease-in-out forwards;

}

@keyframes curtains-open {
    0% {
        width: -40px;
    }

    100% {
        width: 300px
    }

}


/*Curtains**/
header>div:nth-of-type(2){
    color:white;
    display:flex;
    justify-content:center;
    width: 50vw;
    height:50vh;
    background-color: green;
}