

header {
    display: flex;
    animation: render-page 9s ease-in-out forwards;
    visibility:hidden;
}


/*Curtains**/
header>div:nth-of-type(1) {
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;

}

header>div:nth-of-type(1)>div:nth-of-type(1) {
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    border-top: 50px solid rgb(248, 162, 42);
    z-index: 4;

}

header>div:nth-of-type(1)>div:nth-of-type(2) {
    background: linear-gradient(100deg, rgb(158, 19, 19), black);
    background-size: 10% 100%;
    width: 50%;
    height: 100vh;
    position: absolute;
    transition: width .4s linear;
    animation: curtains-open 6s ease-in-out forwards;


}

header>div:nth-of-type(1)>div:nth-of-type(3) {
    background: linear-gradient(100deg, rgb(158, 19, 19), black);
    background-size: 10% 100%;
    width: 50%;
    height: 100vh;
    float: right;
    margin-left: 300px;
    position: relative;
    transition: width .4s linear;
    animation: curtains-open 6s ease-in-out forwards;
    z-index: 2;

}

/*LOGO**/
header>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: rgb(79, 235, 219);
}



h1 {
    --letter-delay: 0.2s;
    --initial-delay: 1s;


    display: flex;
    font-size: 7vw;
    font-family: sans-serif;
    gap: .3vw;
    animation: hollywood 4s var(--initial-delay) both;


}

/**Delay of each letter**/

h1>span {
    --start-delay: var(var(--initial-delay));
    display: block;
    text-align: center;
    opacity: 0;
    animation: show 2s var(--start-delay) both;

    &:nth-child(1) {
        --start-delay: calc(var(--initial-delay) + (var(--letter-delay) * 0));
    }
    &:nth-child(2) {
        --start-delay: calc(var(--initial-delay) + (var(--letter-delay) * 1));
    }

    &:nth-child(3) {
        --start-delay: calc(var(--initial-delay) + (var(--letter-delay) * 2));
    }

    &:nth-child(4) {
        --start-delay: calc(var(--initial-delay) + (var(--letter-delay) * 3));
    }

    &:nth-child(5) {
        --start-delay: calc(var(--initial-delay) + (var(--letter-delay) * 4));
    }

}



header>div:nth-of-type(2)>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100vw;
    height:100vh; */
    z-index: 1
}

/** circle around logo**/

header>div:nth-of-type(2)>div:nth-of-type(2)>div:nth-of-type(1) {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 3px solid rgb(79, 235, 219);
    left: 67vw;
    transform: translateX(-50%);
    border-top: rgb(79, 235, 219);
    border-left: rgb(79, 235, 219);

}

/** Rectangle**/

header>div:nth-of-type(2)>div:nth-of-type(2)>div:nth-of-type(1)>div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 7vw;
    height: 5vw;
    border: 2px solid rgb(79, 235, 219);
    top: 8vw;
    left: 5vw;
    width: 7vw;


}

/** circle inside **/

header>div:nth-of-type(2)>div:nth-of-type(2)>div:nth-of-type(1)>div>div {
    width: 4vw;
    height: 4vw;
    margin-top: .3vw;
    background-color: rgb(79, 235, 219);
    box-shadow: x;
    border-radius: 50%;
    border-radius: 50%;
    animation: shine 13s forwards alternate;
}





