/**SCREEN*/

article:nth-of-type(2) {
    grid-area: 1/1;
    z-index: -1;
}

form {
    position: relative;
    width: 18em;
    border-radius: .7em;
    aspect-ratio: 16/5;
    background-image: linear-gradient(to top right, #5cb5e1, #3ea4f0, #416bdf);
    border: 10px solid var(--darker-grey);
    box-shadow: inset 2px 2px 4px var(--dark)
        inset -2px -2px 4px var(--dark);


    display: grid;
    align-items: end;


    & fieldset {
        border: none;
        margin: 0;
        padding: 1em;

        display: flex;
        justify-content: center;

        & legend {
            position: absolute;
    }

}}

/**Time & date**/

form>ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    list-style: none;
    color: var(--light-color);
  

    & li:nth-of-type(1) {
        font-size: 1.5rem;
        font-weight: 700;
    }

    & li:nth-of-type(2) {
        font-size: 1.5rem;
        font-family: sans-serif;

    }

}


