/*LENS-CONTAINER*/
article:nth-of-type(1)>section:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    border-radius: 5px;
    padding: 1em;


    h3 {
        display: none;
    }

}


/*LENS-1 */
article:nth-of-type(1)>section:nth-of-type(1)>div {
    width: 10em;
    aspect-ratio: 1;
    border-radius: var(--circle);
    display: grid;
    place-items: center;
    background-color: var(--darker-grey);
    box-shadow: inset 3px 2px 4px var(--dark),
        inset -3px -2px 4px var(--dark);
    animation: unrotate 30s infinite linear;


}

/*LENS-2 */
article:nth-of-type(1)>section:nth-of-type(1)>div>div {
    width: 8em;
    aspect-ratio: 1;
    border-radius: var(--circle);
    display: grid;
    place-items: center;
    background-color: var(--darker-grey);
    box-shadow: inset 3px 2px 4px var(--dark),
        inset -3px -2px 4px var(--dark);
    animation: rotate 30s infinite linear;

}

/*LENS-3 */
article:nth-of-type(1)>section:nth-of-type(1)>div>div>div {
    width: 6em;
   aspect-ratio: 1;
    border-radius: var(--circle);
    display: grid;
    place-items: center;
    background: radial-gradient(circle at top, hsl(39, 100%, 50%) 30%, hsl(300, 76%, 72%)5%, #ff0000);
    animation: rotate 30s infinite linear;

}
