/**SHOOT-BUTTON*/
main>div>label:first-child {
    display:flex;
    justify-content: end;
    position: relative;
  

    & input[type="checkbox"] {
        position: absolute;
        width: 3em;
        height: 2.8em;
        bottom: 28em;
        right:2em;
        -webkit-appearance: none;
        position: absolute;
        background: radial-gradient(circle at top, var(--lighter-grey) 30%, var(--dark), var(--default-color));
        border-radius: 1em 1em 0em 0em;

    }
}

/** For the flash**/
main:has(input[value="flash"]:checked) {
    animation: flash 2s linear;
}

main:has(input[value="flash"]:checked)>label {
    transform: translateY(.5em);
    transition: 1s ease-in-out;
}


/**START BUTTON**/
article:nth-of-type(1)>label {
    position: relative;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self:end;
    left:-5em;
    font-size: .6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        transform: translateY(160%)translateX(100%);
        z-index: 1;
    }


    & span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: var(--start-btn-color);
        padding: 1em;
        color: var(--light-color);
        border-radius: var(--circle);
        box-shadow: inset 1px 2px 3px var(--dark),
            inset -1px 0px 3px var(--dark),
            -2px -3px 3px var(--dark);
        border: 5px solid var(--darker-grey);
    }
}



/**When start button is clicked the screen appears from the bottom**/
main:has([value="start"]:checked) article:nth-of-type(2) {
    transform: translateY(-45%);
    transition: 2s ease-in-out;
}

/**When the start button is clicked it shrinks**/
main:has([value="start"]:checked) article:nth-of-type(1)>label>span {
    padding: .9em;
    transition: 1s ease-in-out;

}

/********************************************ON A LARGER SCREEN********************************************************/

/**Fallback**/
@container camera (min-width:25em) {
    article:nth-of-type(1)>label {
        grid-column-start: 3;

    }
}


/**Fallback**/
@media(min-width:44em) {
    article:nth-of-type(1)>label {
        grid-column-start: 3;

    }
}