/**SCREEN FOR VIDEO**/

form:has([value="Video"]:checked) section:nth-of-type(2) {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: grid;
    justify-content: center;
    & h4 {
        display: none;
    }

    & label {
        display: grid;
        justify-content: center;
        position: relative;
        bottom: 2em;

        & div {
            border-radius: var(--circle);
            border: 3px solid var(--light-color);
            display: grid;
            place-content: center;
            width: 2em;
            aspect-ratio: 1;

            & input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 2em;
                height: 2em;
                border-radius:var(--circle);
                outline: none;
                cursor: pointer;
                border-radius: var(--circle);
                background-color:var(--video-btn-color)
            }

            & input[type="checkbox"]:checked {
                transform: scale(.9);
                transition: 1s ;
            }

        }
    }
}

form:has([value="video-btn"]:checked) section:nth-of-type(2){
    background-image: url(/imgs/gehaald.gif);
}